<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>

    <%- include('./partials/header') %>


    <section class="hero-section" id="home">
        <div class="hero-content position-relative overflow-hidden">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
                            <h1 class="mb-2">Connect with Nearby Top-rated Professional <span class="typed"
                                    data-type-text="Carpenters"></span></h1>
                            <p class="mb-3 sub-title">We can connect you to the right Service, first time and every
                                time.</p>
                            <div class="banner-form bg-white border mb-3">
                                <form id="service-filter-form">
                                    <div class="d-md-flex align-items-center">
                                        <div class="input-group mb-2">
                                            <span class="input-group-text px-1"><i class="ti ti-search"></i></span>
                                            <input type="text" class="form-control keyword" placeholder="Search for Service">
                                        </div>
                                        <div class="input-group mb-2">
                                            <span class="input-group-text px-1"><i class="ti ti-map-pin"></i></span>
                                            <input type="text" class="form-control location" placeholder="Enter Location">
                                        </div>
                                        <div class="mb-2">
                                            <a href="javascript:void(0)"
                                                class="btn btn-linear-primary d-inline-flex align-items-center w-100 btn-search">
                                                <i class="feather-search me-2"></i>
                                                Search
                                            </a>
                                        </div>
                                    </div>
                                </form>
                                <img src="assets/img/bg/bg-06.svg" alt="img" class="shape-06 round-animate">
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <h6 class="mb-2 me-2 fw-medium">Popular Searches</h6>
                                <a href="search.html"
                                    class="badge badge-dark-transparent fs-14 fw-normal mb-2 me-2">Plumber</a>
                                <a href="search.html"
                                    class="badge badge-dark-transparent fs-14 fw-normal mb-2 me-2">Interior</a>
                                <a href="search.html"
                                    class="badge badge-dark-transparent fs-14 fw-normal mb-2 me-2">Nail Technicians</a>
                            </div>
                            <div class="d-flex align-items-center flex-wrap banner-info">
                                <div class="d-flex align-items-center me-4 mt-4">
                                    <img src="assets/img/icons/success-01.svg" alt="icon">
                                    <div class="ms-2">
                                        <h6><%= providers_count %> +</h6>
                                        <p>Verified Providers</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center me-4 mt-4">
                                    <img src="assets/img/icons/success-02.svg" alt="icon">
                                    <div class="ms-2">
                                        <h6><%= completed_booking_count %>+</h6>
                                        <p>Services Completed</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center me-4 mt-4">
                                    <img src="assets/img/icons/success-03.svg" alt="icon">
                                    <div class="ms-2">
                                        <h6><%= reviews_count %> </h6>
                                        <p>Reviews Globally</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="banner-img wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
                        <img src="assets/img/banner.png" alt="img" class="img-fluid animation-float">
                    </div>
                </div>
            </div>
            <div class="hero-image">
                <div class="d-inline-flex bg-white p-2 rounded align-items-center shape-01 floating-x">
                    <span class="avatar avatar-md bg-warning rounded-circle me-2"><i
                            class="ti ti-star-filled"></i></span>
                    <span><%= average_rating %> / 5<small class="d-block">(<%= reviews_count %> reviews)</small></span>
                    <i class="border-edge"></i>
                </div>
                <div class="d-inline-flex bg-white p-2 rounded align-items-center shape-02 floating-x">
                    <span class="me-2"><img src="assets/img/icons/tick-banner.svg" alt></span>
                    <p class="fs-12 text-dark mb-0"><%= completed_booking_count %> Booking Completed</p>
                    <i class="border-edge"></i>
                </div>
                <img src="assets/img/bg/bg-03.svg" alt="img" class="shape-03">
                <img src="assets/img/bg/bg-04.svg" alt="img" class="shape-04">
                <img src="assets/img/bg/bg-05.svg" alt="img" class="shape-05">
            </div>
        </div>
    </section>


    <section class="section category-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header text-center">
                        <h2 class="mb-1">Explore our <span class="text-linear-primary">Categories</span></h2>
                        <p class="sub-title">Service categories help organize and structure the offerings on a
                            marketplace, making it easier for users to find what they need.</p>
                    </div>
                </div>
            </div>
            <div
                class="row g-4 row-cols-xxl-6 row-cols-xl-6 row-cols-md-4 row-cols-sm-2 row-cols-1 justify-content-center">
                <% categories.forEach(category=> { %>
                    <div class="col d-flex">
                        <div class="category-item text-center flex-fill wow fadeInUp" data-wow-delay="0.2s">
                            <div class="mx-auto mb-3">
                                <img src="/assets/img/icons/category-07.svg" class="img-fluid" alt="img">
                            </div>
                            <h6 class="fs-14 mb-1"><%= category.service_category %></h6>
                            <p class="fs-14 mb-0"><%= category.listings_count %> Listings</p>
                            <a href="/services?service_category_id=<%= category.service_category_id %>" class="link-primary text-decoration-underline fs-14">View All</a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>


    <section class="section service-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header text-center">
                        <h2 class="mb-1">Our Featured <span class="text-linear-primary">Services</span></h2>
                        <p class="sub-title">Each listing is designed to be clear and concise to customers</p>
                    </div>
                </div>
            </div>
            <div class="service-slider owl-carousel nav-center">
                <% services.forEach(service=> { %>
                    <div class="service-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-img">
                            <div class="img-slider owl-carousel nav-center">
                                <% service.images.forEach(image=> { %>
                                    <div class="slide-images">
                                        <a href="/services/<%= service.service_id %>">
                                            <img src="/uploads/service-gallery/<%= image.service_image_filename %>" class="img-fluid" alt="img">
                                        </a>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                        <div class="service-content">
                            <h6 class="text-truncate mb-1"><a href="/services/<%= service.service_id %>"><%= service.service_title %></a>
                            </h6>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="fw-medium fs-14 mb-0">Service starts at $<%= service.service_price %></p>
                                <span class="d-inline-flex align-items-center fs-14"><i
                                        class="ti ti-star-filled text-warning me-1"></i><%= service.average_rating || 0 %></span>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.2s">
                        <a href="/services" class="btn btn-dark">View All<i class="ti ti-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section pt-0">
        <div class="container">
            <div class="work-section bg-black m-0">
                <div class="row align-items-center bg-01">
                    <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="section-header text-center">
                            <h2 class="text-white">How ServeHub <span class="text-linear-primary">Works</span></h2>
                            <p class="text-light">Each listing is designed to be clear and concise, providing customers
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row gx-0 gy-4">
                    <div class="col-lg-4 d-flex">
                        <div class="work-item text-center flex-fill">
                            <div class="mb-3">
                                <img src="assets/img/icons/work-01.svg" alt="img">
                            </div>
                            <h6 class="text-white mb-2">1. Post a Service</h6>
                            <p>Share your skills and expertise by posting a service to connect with potential clients. Make it easy for others to find
                            the help they need with a detailed service listing.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="work-item text-center flex-fill">
                            <div class="mb-3">
                                <img src="/assets/img/icons/work-01.svg" alt="img">
                            </div>
                            <h6 class="text-white mb-2">2. Getting Booked & Job done</h6>
                            <p>Receive bookings and complete jobs with ease, connecting you directly to clients in need. Deliver quality service and
                            grow your reputation with each successful task.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="work-item work-03 text-center flex-fill">
                            <div class="mb-3">
                                <img src="/assets/img/icons/work-03.svg" alt="img">
                            </div>
                            <h6 class="text-white mb-2">3. Get Reviewd & Get Leads</h6>
                            <p>Gain valuable feedback from satisfied clients to build trust and credibility. Boost your visibility and attract more
                            leads with positive reviews.</p>
                        </div>
                    </div>
                </div>
                <div class="work-bg1">
                    <img src="/assets/img/bg/work-bg-01.svg" class="img-fluid" alt="img">
                </div>
                <div class="work-bg2">
                    <img src="/assets/img/bg/work-bg-02.svg" class="img-fluid" alt="img">
                </div>
            </div>
        </div>
    </section>

    <section class="section pt-0 pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header text-center">
                        <h2 class="mb-1">Most <span class="text-linear-primary">Rated Services</span></h2>
                        <p class="sub-title">Explore the most rated services, trusted by the highest number of satisfied users.</p>
                    </div>
                </div>
            </div>
            <div class="popular-slider-3 owl-carousel nav-center">
                <% preferred.forEach(service=> { %>
                    <div class="service-item">
                        <div class="service-img">
                            <div class="img-slider owl-carousel nav-center">
                                <% service.images.forEach(image=> { %>
                                    <div class="slide-images">
                                        <a href="/services/<%= service.service_id %>">
                                            <img src="/uploads/service-gallery/<%= image.service_image_filename %>" class="img-fluid" alt="img">
                                        </a>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                        <div class="service-content">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <a href="/services/<%= service.service_id %>" class="d-flex align-items-center mb-2 service-pro-info">
                                    <span class="avatar avatar-sm me-2">
                                        <img src="/uploads/user-images/<%= service.service_details.user_avatar_filename %>" alt="img"
                                            class="img-fluid rounded-circle">
                                    </span>
                                    <p class="fs-14"><%= service.service_details.provider %></p>
                                </a>
                                <small class="mb-2">From $<%= service.service_details.service_price %></small>
                            </div>
                            <h6 class="mb-2"><a href="javascript:void(0);"><%= service.service_details.service_title %></a></h6>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i><%= service.average_rating %> (<%= service.reviews_count %> Reviews)
                                </p>
                                <span class="badge badge-dark-transparent fw-medium p-2"><%= service.booking_count %> Bookings</span>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>

        </div>
    </section>

    <section class="section testimonial-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header text-center">
                        <h2 class="mb-1">Genuine reviews from <span class="text-linear-primary">Customers</span></h2>
                        <p class="sub-title">Read authentic reviews from real customers to make informed service choices</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-slider owl-carousel nav-center">
                <% Reviews.forEach(review=> { %>
                    <div class="testimonial-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="d-flex align-items-center mb-3">
                            <% for (let i=0; i < 5; i++) { %>
                                <i class="ti ti-star-filled <%= i < review.rating ? 'text-warning' : 'text-muted' %> me-1"></i>
                            <% } %>
                        </div>
                        <h5 class="mb-2"><%= review.review_title %></h5>
                        <p class="mb-4">“ <%= review.review %>“</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center overflow-hidden">
                                <span class="avatar avatar-lg flex-shrink-0">
                                    <img src="/uploads/user-images/<%= review.user_avatar_filename %>" class="img-fluid rounded-circle" alt="img">
                                </span>
                                <h6 class="text-truncate ms-2"><%= review.user_full_name %></h6>
                            </div>
                            <p> <%= moment(review.reviewed_at).fromNow() %></p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>

    <section class="section business-section bg-black">
        <div class="container">
            <div class="row align-items-center bg-01">
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header mb-md-0 mb-4">
                        <h2 class="text-white display-4">Add Services & Grow your <span
                                class="text-linear-primary">business with us</span></h2>
                        <p class="text-light">A versatile platform that connects you with local professionals across
                            various categories, from home services like plumbing and electrical work to personal
                            services like photography and tutoring.</p>
                        <a href="javascript:void(0);" class="btn btn-linear-primary" data-bs-toggle="modal"
                        data-bs-target="#register-modal"><i
                                class="ti ti-user-filled me-2"></i>Join Us</a>
                    </div>
                </div>
                <div class="col-md-6 text-md-end wow fadeInUp" data-wow-delay="0.2s">
                    <div class="business-img">
                        <img src="assets/img/business.jpg" class="img-fluid" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./partials/modals') %>


    <%- include('./partials/footer') %>

    <div class="back-to-top">
        <a class="back-to-top-icon align-items-center justify-content-center d-flex" href="#top"><i
                class="fa-solid fa-arrow-up"></i></a>
    </div>

    <div class="xb-cursor tx-js-cursor">
        <div class="xb-cursor-wrapper">
            <div class="xb-cursor--follower xb-js-follower"></div>
        </div>
    </div>


    <%- include('./partials/auth-modals') %>
    <%- include('./partials/scripts') %>
    <script src="/assets/js/pages/index.js"></script>
</body>
</html>